process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: 'PREPARE_INPUTS' {
        container  = params.container_base
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'STAGE_MODELS' {
        container  = params.container_base
        publishDir = [
            path: { "${params.outdir}/${params.data_staging_outs}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'STAGE_REFERENCES' {
        container  = params.container_base
        publishDir = [
            path: { "${params.outdir}/${params.data_staging_outs}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'FILTER_CANDIDATES.*' {
        container  = params.container_ml
        // ExtraTrees is CPU-only — no GPU directive
        publishDir = [
            path: { "${params.outdir}/${params.candidate_filtering_outs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'CALL_VARIANTS.*' {
        container      = params.container_ml
        label          = 'process_gpu'
        clusterOptions = '--gres=gpu:1'
        publishDir     = [
            path: { "${params.outdir}/${params.variant_calling_outs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}