// wes.config — users pass -c wes.config for exome runs
params {
    seq_mode          = 'wes'
    bam2tensor_cpus   = 8
    bam2tensor_memory = '32.GB'
    strelka2_cpus     = 8
    strelka2_memory   = '32.GB'
    vcf_post_cpus     = 8
    vcf_post_memory   = '32.GB'
}

process {
    withLabel: process_high {
        cpus   = { 8  * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel: process_high_memory {
        cpus   = { 8  * task.attempt }
        memory = { 96.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
}